.charsCard {
    width: 18rem;
    display: inline-block;
    background-color: rgba(250, 235, 215, 0.137);

}

.hide{
    display: none;
}

.hover-zoom {
    transition: transform 0.3s ease;
  }
  
  .hover-zoom:hover {
    transform: scale(1.05);
  }
  